[Desktop Entry]
Type=Application
Exec=/home/mendlik/.conky/conky_run.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Conky
Name=conky
Comment[en_US]=
Comment=
