# Git configuration options
# https://github.com/mathiasbynens/dotfiles/blob/master/.gitconfig
# https://git-scm.com/book/tr/v2/Customizing-Git-Git-Configuration
# http://git-scm.com/docs/git-config.html

[include]
	# For username / github token / etc
	path = ~/.gitconfig_local

[apply]
	whitespace = nowarn

[log]
	date = format-local:%Y-%m-%d %H:%M:%S

[status]
	# Include submodule status in git status
	# https://medium.com/@porteneuve/mastering-git-submodules-34c65e940407#.3hgqh9tul
	submoduleSummary = true

[merge]
	# Linux UI merge tool
	tool = meld
	# Include summaries of merged commits in newly created merge commit messages
	log = true

[mergetool]
	# No backup files (rm *.orig)
	keepBackup = false

[rerere]
	# REplay REsolved conflict during REbase
	# https://medium.com/@porteneuve/fix-conflicts-only-once-with-git-rerere-7d116b2cec67
	enabled = true

[rebase]
	# https://robots.thoughtbot.com/autosquashing-git-commits
	autosquash = true

[pull]
	# By default pull with --rebase
	rebase = true

[push]
	# Push the current branch to its upstream branch.
	# Refuses to push if the upstream branch's name is different from the local one.
	# Use `git config --global push.default matching` in case of problems with older git.
	default = simple
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[core]
	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	# Treat spaces before tabs and all kinds of trailing whitespace as an error
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
	# Make `git rebase` safer on OS X
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false
	# Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false

[diff]
	# Detect copies as well as renames
	renames = copies

[diff "bin"]
	# Use `hexdump` to diff binary files
	textconv = hexdump -v -C


# URL shorthands
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
	insteadOf = "github:"

[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
	insteadOf = "gist:"

# Colors
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color "diff-highlight"]
	oldNormal = "red bold"
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "grep"]
	linenumber = green
	match = red
	filename = magenta

[alias]
	####################################
	# Unmatched shorter versions
	####################################
	cl = clone

	####################################
	# Alases for `git log`
	####################################
	# Pretty printed log
	logpretty = log --pretty=custom
	lg = log --pretty=custom
	# Show pretty printed log with branch graph
	loggraph = log --graph --pretty=custom
	lgg = log --graph --pretty=custom
	# Show pretty printed log with files
	logfiles = log --pretty=custom --numstat --decorate --name-status
	lgf = log --pretty=custom --numstat --decorate --name-status
	# Show pretty printed log with diff
	logdiff = log --pretty=custom  --numstat
	lgd = log --pretty=custom -u

	####################################
	# Alases for `git status`
	####################################
	# Shorter version
	statusshort = status -s
	st = status -s

	####################################
	# Alases for `git commit`
	####################################
	# Shorter version
	cm = commit -av
	cp = cherry-pick
	# Commit all changes
	commitall = !git add -A && git commit -av
	cma = !git add -A && git commit -av
	# Amend the currently staged files to the latest commit
	amend = "!f() { git commit -a --amend $([ -n "$1" ] && echo \"-m $1\" || echo \"--no-edit\"); }; f"
	an = "!f() { git commit -a --amend $([ -n "$1" ] && echo \"-m $1\" || echo \"--no-edit\"); }; f"
	# Amend all
	amendall = "!f() { git add -A && git commit -a --amend $([ -n "$1" ] && echo \"-m $1\" || echo \"--no-edit\"); }; f"
	ana = "!f() { git add -A && git commit -a --amend $([ -n "$1" ] && echo \"-m $1\" || echo \"--no-edit\"); }; f"
	# Change author of the last commit
	amendauthor = "!f() { git commit --amend --author \"${1:-$(git config --get user.name)} <${2:-$(git config --get user.email)}>\" -C HEAD; }; f"
	anu = "!f() { git commit --amend --author \"${1:-$(git config --get user.name)} <${2:-$(git config --get user.email)}>\" -C HEAD; }; f"

	####################################
	# Alases for `git add`
	####################################
	# Add all
	addall = !git add -A
	ada = !git add -A

	####################################
	# Alases for `git fetch`
	####################################
	# Shorter version
	fe = fetch
	# Fetch master
	fetchmaster = !git fetch $(git remote show) master
	fem = !git fetch $(git remote show) master
	# Fetch branch
	fetchbranch = "!f() { git fetch $(git remote show) ${1:-$(git symbolic-ref --short HEAD)}; }; f"
	feb = "!f() { git fetch $(git remote show) ${1:-$(git symbolic-ref --short HEAD)}; }; f"

	####################################
	# Alases for `git checkout`
	####################################
	# Shorter version
	co = checkout
	# Checkout master
	checkoutmaster = checkout master
	com = checkout master

	####################################
	# Alases for diff
	# http://stackoverflow.com/questions/1587846/how-do-i-show-the-changes-which-have-been-staged
	####################################
	# Diff words only - easier to see changes
	diffwords = diff --color-words
	df = diff --color-words
	# Diff all tracked and untracked
	diffall = !git diff HEAD --color-words
	dfa = !git diff HEAD --color-words
	# Diff tracked only
	difftracked = !git diff --cached --color-words
	dft = !git diff --cached --color-words
	# Create a diff with binaries. Could be used with `git apply `
	diffpatch = !git diff HEAD --binary
	dfp = !git diff HEAD --binary

	####################################
	# Alases for undoing changes
	# https://www.atlassian.com/git/tutorials/undoing-changes/git-clean
	####################################
	# Reverting all local and indexed changes
	undo = !git reset --hard && git clean -xf
	un = !git reset --hard && git clean -xf
	# Reverting all indexed changes
	undotracked = reset --hard
	unt = reset --hard
	# Dropping all untracked files and directories
	undountracked = clean -xf
	unu = clean -xf

	####################################
	# Alases for finding things
	####################################
	# Customized alias for grep
	findfile = grep -Iin
	fnf = grep -Iin
	# Find branches containing commit
	findbranch = "!f() { git branch -a --contains $1; }; f"
	fnb = "!f() { git branch -a --contains $1; }; f"
	# Find tags containing commit
	findtags = "!f() { git describe --always --contains $1; }; f"
	fnt = "!f() { git describe --always --contains $1; }; f"
	# Find commits by content
	findcommit = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"
	fnc = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"
	# Find commits by commit message
	findcommitbymsg = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"
	fncm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"

	####################################
	# Alases for listings
	####################################
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1 => \\2/' | grep -v 'alias'| awk 'BEGIN { FS = \"=>\" }{ printf(\"%-20s=>%s\\n\", $1,$2)}'

	####################################
	# Alases for contribution
	####################################
	# List contributors with number of commits
	contributors = shortlog --summary --numbered
	showorigin = "!sh -c 'for branch in `git branch -r | grep -v HEAD`;do echo `git show -s --format=custom $branch | head -n 1` \\\t$branch; done | sort -r'"

	####################################
	# Alases for squashing commits
	####################################
	# Shorter version
	rb = rebase
	# Rebase remote branch
	rebaseremote = "!f() { git rebase $(git remote show) ${1:-$(git symbolic-ref --short HEAD)}; }; f"
	rbr = "!f() { git rebase $(git remote show) ${1:-$(git symbolic-ref --short HEAD)}; }; f"
	# Rebase remote master
	rebaseremote = "!f() { git rebase $(git remote show) master; }; f"
	rbr = "!f() { git rebase $(git remote show) master; }; f"
	# Autmatically rebase with the given number of latest commits
	squash = "!f(){ git reset --soft HEAD~${1:-1} && git commit --edit -m\"${2:-$(git log --format=%B --reverse HEAD..HEAD@{1})}\"; };f"
	sq = "!f(){ git reset --soft HEAD~${1:-1} && git commit --edit -m\"${2:-$(git log --format=%B --reverse HEAD..HEAD@{1})}\"; };f"
	# Interactive rebase with the given number of latest commits
	squashi = "!f() { git rebase -i HEAD~$1; }; f"
	sqi = "!f() { git rebase -i HEAD~$1; }; f"

	####################################
	# Alases for git tag
	####################################
	# Show last tag
	taglast = describe --tags --abbrev=0
	# Remove the old tag with this name and tag the latest commit with it.
	tagretag = "!f() { git tag -d $1 && git push origin :refs/tags/$1 && git tag $1; }; f"

	####################################
	# Alases for combo actions
	####################################
	# Remove branches that have already been merged with master
	# a.k.a. ‘delete merged’
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

	# Merge GitHub pull request on top of the current branch or,
	# if a branch name is specified, on top of the specified branch
	mpr = "!f() { \
		declare currentBranch=\"$(git symbolic-ref --short HEAD)\"; \
		declare branch=\"${2:-$currentBranch}\"; \
		if [ $(printf \"%s\" \"$1\" | grep '^[0-9]\\+$' > /dev/null; printf $?) -eq 0 ]; then \
			git fetch origin refs/pull/$1/head:pr/$1 && \
			git checkout -B $branch && \
			git rebase $branch pr/$1 && \
			git checkout -B $branch && \
			git merge pr/$1 && \
			git branch -D pr/$1 && \
			git commit --amend -m \"$(git log -1 --pretty=%B)\n\nCloses #$1.\"; \
		fi \
	}; f"

[pretty]
	# See: https://git-scm.com/docs/git-log
	custom = format:"%C(magenta)%h%C(red)%d %C(cyan)%cd %C(blue)[%an] %C(yellow)%ar %C(green)%s"
