# tmp locations
vim/.vim/tmp/backups
vim/.vim/tmp/swaps
vim/.vim/tmp/undo
vim/.vim/plugins
vim/.vim/.netrwhist
nvim/.nvim/plugin
nvim/.nvim/tmp
nvim/.nvim/spell/*.spl
nvim/.nvim/.netrwhist
bash/.bash/tmp
zsh/.zsh/tmp
zsh/.zsh/deps
zsh/.zsh/ohmyzsh
tmux/.tmux/tmp
tmux/.tmux/deps
!.gitkeep
.DS_Store
.netrwhist
/_tmp
