"*":
  editor:
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    tabLength: 4
  linter:
    lintOnFly: false
    showErrorPanel: false
    showErrorTabLine: true
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    useGlobalEslint: true
  "linter-htmlhint": {}
  "linter-jscs":
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  minimap:
    plugins:
      "git-diff": true
      "highlight-selected": true
      linter: true
  react: {}
  welcome:
    showOnStartup: false
