"*":
  "atom-import-sort": {}
  "autoupdate-packages":
    lastUpdateTimestamp: 1476611136001
  core: {}
  editor:
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    tabLength: 4
  linter:
    errorPanelHeight: 188
    lintOnFly: false
    showErrorTabLine: true
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    useGlobalEslint: true
  "linter-htmlhint": {}
  "linter-jscs":
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  react: {}
  welcome:
    showOnStartup: false
