"*":
  "atom-import-sort": {}
  "autoupdate-packages":
    lastUpdateTimestamp: 1487142719748
  core:
    telemetryConsent: "limited"
  editor:
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    tabType: "soft"
  "git-plus":
    general:
      _analyticsUserId: "86a50de2-ed98-45fb-8638-f02a7693f8b8"
  linter:
    errorPanelHeight: 188
    lintOnFly: false
    showErrorPanel: false
    showErrorTabLine: true
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-htmlhint": {}
  "linter-jscs":
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  react: {}
  welcome:
    showOnStartup: false
