[Desktop Entry]
Type=Action
Icon[en_US]=document-save-as-symbolic
Icon[en]=document-save-as-symbolic
Icon[C]=document-save-as-symbolic
Tooltip[en_US]=Copy Path
Tooltip[en]=Copy Path
Tooltip[C]=Copy Path
ToolbarLabel[en_US]=Copy Path
ToolbarLabel[en]=Copy Path
ToolbarLabel[C]=Copy Path
Name[en_US]=Copy Path
Name[en]=Copy Path
Name[C]=Copy Path
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
Exec=bash -c "echo -n '%d/%b'  | xclip -selection c"
