[Desktop Entry]
Type=Action
Icon[en_US]=stock_leave-fullscreen
Icon[en]=stock_leave-fullscreen
Icon[C]=stock_leave-fullscreen
Tooltip[en_US]=Reduces image size bt 50%
Tooltip[en]=Reduces image size bt 50%
Tooltip[C]=Reduces image size bt 50%
ToolbarLabel[en_US]=Downsize Image
ToolbarLabel[en]=Downsize Image
ToolbarLabel[C]=Downsize Image
Name[en_US]=Downsize Image
Name[en]=Downsize Image
Name[C]=Downsize Image
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Exec=mogrify -resize 50%% %B
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
Basenames=*.jpeg;*.png;*.jpg;
