[Desktop Entry]
Type=Action
Icon[en_US]=format-text-bold
Icon[en]=format-text-bold
Icon[C]=format-text-bold
Tooltip[en_US]=Install Font
Tooltip[en]=Install Font
Tooltip[C]=Install Font
ToolbarLabel[en_US]=Install Font
ToolbarLabel[en]=Install Font
ToolbarLabel[C]=Install Font
Name[en_US]=Install Font
Name[en]=Install Font
Name[C]=Install Font
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Basenames=*.ttf;
Exec=gnome-terminal -t "Install Font" -x /bin/bash -c "source ${HOME}/.bash/func/font.sh; install-font %F"
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
