[Desktop Entry]
Type=Action
Icon[en_US]=send-to-symbolic
Icon[en]=send-to-symbolic
Icon[C]=send-to-symbolic
Tooltip[en_US]=Start Http Server Here
Tooltip[en]=Start Http Server Here
Tooltip[C]=Start Http Server Here
ToolbarLabel[en_US]=Http Server
ToolbarLabel[en]=Http Server
ToolbarLabel[C]=Http Server
Name[en_US]=Http Server
Name[en]=Http Server
Name[C]=Http Server
Profiles=profile-zero;

TargetLocation=true
TargetToolbar=true

[X-Action-Profile profile-zero]
ExecutionMode=Terminal
Exec=gnome-terminal -t "Http Server %d" -x /bin/bash -c http-server %d
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
