[Desktop Entry]
Type=Action
Icon[en_US]=gtk-copy
Icon[en]=gtk-copy
Icon[C]=gtk-copy
Tooltip[en_US]=Copy Content
Tooltip[en]=Copy Content
Tooltip[C]=Copy Content
ToolbarLabel[en_US]=Copy Content
ToolbarLabel[en]=Copy Content
ToolbarLabel[C]=Copy Content
Name[en_US]=Copy Content
Name[en]=Copy Content
Name[C]=Copy Content
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Exec=xclip -i -selection c %d/%b
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
