name: Check

on:
  workflow_dispatch:
  push:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Skip duplicates and docs
        id: skip
        uses: fkirc/skip-duplicate-actions@v5
        with:
          paths_ignore: '["**/README.md", "LICENSE", ".gitignore", ".editorconfig"]'

      - name: Install Lua
        uses: leafo/gh-actions-lua@v12
        with:
          luaVersion: "5.1.5"

      - name: Install Lua Rocks
        uses: leafo/gh-actions-luarocks@v6

      - name: Install luacheck
        run: |
          luarocks install luacheck

      - name: Check
        run: ./check.sh
